body {
  width: 50rem;
  margin: 2rem auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: space-evenly;
  border: 1px solid #282c34;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

button {
  display: block;
  margin: 0 auto;
  font-size: 2rem;
  margin-bottom: 1rem;
}

select {
  text-align: center;
  border:1px solid black;
  width: auto;
  font-size: 2rem;
  margin: 0 auto;
  margin-top: 2rem;
}


 #root {
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   text-align: center;
   vertical-align: middle;
 }

.card {
  width: 10rem;
  height: 10rem;
  margin: 2rem;
  position: relative;
  text-align: center;
  display: inline-block;
  float: left;
  border: 2px solid #282c34;
}

.computer-card {
  width: 10rem;
  height: 10rem;
  margin: 2rem;
  position: relative;
  text-align: center;
  display: inline-block;
  border: 2px solid #282c34;
  background-size: contain;
  background-repeat: no-repeat;
}
